
<!-- footer -->
<footer class="w-100 bg-Ardoise pt-3">
	<div class="col col-9 mx-auto">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="foot_left">
						<img src="{{asset('assets/medias/witchyLogo.webp')}}" alt="">
						<p>WITCHY, HELL'S BEST SUPPLIER,
							<br>
							IS A LOCAL FAMILY FASHION SHOP
							<br>
							THAT BEEN IN BUSINESS SINCE 1666.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="foot_rt">
						<h3>CONTACTS</h3>
						<p>
							<span>Address:
							</span>
							Satan's Street Unholy Avenue, Hell 66666
						</p>
						<p>
							<span>Phone:
							</span>
							<a href="tel:#">06.66.66.66.66</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot_btm">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>
						<a href="#">
							Witchy</a>
						© 2023. Allright Reserved.</p>
				</div>
				<div class="col-md-6">
					<p>Design and Development By
						<a href="#">
							Maddox Graham</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>