{% extends 'base.html.twig' %}

{% block body %}

	{% set categories = categories %}
	{% include '_partials/_head.html.twig' with {'categories': categories} %}

	<div class="container  indexDemo">

		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">

					<div class="fullCardDemo card bg-dark text-white">
						<div class="col-lg-6 imgcarddemo">
							<img class=" card-img opacity-50" src="https://i.pinimg.com/564x/ee/df/a2/eedfa283e097b61b288255d520cfc641.jpg" alt="Card image">
						</div>
						<div class=" textCardDemo col-lg-6 card-img-overlay mx-auto flex-column text-center d-flex">

							<div class="card-title mb-5 pb-5 font-serif display-2">
								<span class="font-handwritten">
									Get myself the
								</span>
								<span class="LargeFont">Addams
								</span>
								's vibe
							</div>

							<div class="card-text my-auto">
								<p class="card-text">I'd rather be chill in in my coffin</p>

								<div class="container text-center">
									<div class="row justify-content-between">
										<div class="col-md-4 demoBox">
											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/38/0c/12/380c122249cbb07db6f3b11d866f8428.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/38/0c/12/380c122249cbb07db6f3b11d866f8428.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/38/0c/12/380c122249cbb07db6f3b11d866f8428.jpg"/>
												</a>
											</div>

										</div>
										<div class="col-md-4 demoBox">
											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/bb/9d/93/bb9d93ebf0a501d53d143b798ed9a925.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/bb/9d/93/bb9d93ebf0a501d53d143b798ed9a925.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/bb/9d/93/bb9d93ebf0a501d53d143b798ed9a925.jpg"/>
												</a>
											</div>
										</div>
										<div class="col-md-4 demoBox">
											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/c6/e2/fc/c6e2fcd693e6e6e7ca870e395971c05b.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/c6/e2/fc/c6e2fcd693e6e6e7ca870e395971c05b.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/c6/e2/fc/c6e2fcd693e6e6e7ca870e395971c05b.jpg"/>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="btn text-center mt-auto mb-3 btn-light">
								<p class="card-text">See More</p>
							</button>

						</div>
					</div>

				</div>

				<div class="carousel-item">

					<div class="card bg-dark fullCardDemo text-white">
						<div class="col-lg-6 imgcarddemo">
							<img class="card-img opacity-50" src="https://i.pinimg.com/564x/d3/27/6f/d3276fee592bae9312a333ce7885b750.jpg" alt="Card image">
						</div>
						<div class="  textCardDemo col-lg-6  card-img-overlay mx-auto flex-column text-center d-flex">


							<div class="card-title font-serif display-2">
								<span class="font-handwritten">
									Cyberpunk is</span>
								my
								<span class="LargeFont">new Shit</span>
							</div>
							<div class="card-text my-auto">

								<p class="card-text">Get the style now
								</p>


								<div class="container text-center">


									<div class="row imgTrio justify-content-between">
										<div class="col-md-4 demoBox">

											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/c9/74/3d/c9743d88eaf9e8c78a95631ad270be03.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/c9/74/3d/c9743d88eaf9e8c78a95631ad270be03.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/c9/74/3d/c9743d88eaf9e8c78a95631ad270be03.jpg"/>
												</a>
											</div>


										</div>
										<div class="col-md-4 demoBox bshadow">

											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/08/0e/88/080e881ee61bcb545adbc80cf7e70863.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/08/0e/88/080e881ee61bcb545adbc80cf7e70863.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/08/0e/88/080e881ee61bcb545adbc80cf7e70863.jpg"/>
												</a>
											</div>


										</div>
										<div class="col-md-4 demoBox">

											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/2d/b3/fb/2db3fb416c76ca4e64144e0b4d55d2a0.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/2d/b3/fb/2db3fb416c76ca4e64144e0b4d55d2a0.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/2d/b3/fb/2db3fb416c76ca4e64144e0b4d55d2a0.jpg"/>
												</a>
											</div>


										</div>
									</div>
								</div>

							</div>
							<button type="button" class="btn text-center mt-auto mb-3 btn-light">
								<p class="card-text">See More
								</p>
							</button>


						</div>
					</div>
				</div>


				<div class="carousel-item">

					<div class="card bg-dark fullCardDemo text-white">
						<div class="col-lg-6 imgcarddemo">
							<img class="card-img opacity-50" src="https://images.pexels.com/photos/15792494/pexels-photo-15792494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image">
						</div>
						<div class="card-img-overlay textCardDemo col-lg-6  mx-auto flex-column text-center d-flex">
							<div class="card-title font-serif display-2">
								<span class="LargeFont">
									Dark
								</span>
								is
								<span class="font-handwritten">
									my bright side
								</span>
							</div>

							<div class="card-text my-auto">
								<p class="card-text">My inner demon is loving this
								</p>
								<div class="container text-center">
									<div class="row justify-content-between">
										<div class="col-md-4 demoBox">
											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/86/f6/84/86f6847309acdac769b6c7941831bb09.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/86/f6/84/86f6847309acdac769b6c7941831bb09.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/86/f6/84/86f6847309acdac769b6c7941831bb09.jpg"/>
												</a>
											</div>

										</div>
										<div class="col-md-4 demoBox">
											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/564x/66/6a/1e/666a1ebc1543ac5d987797450732f923.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/66/6a/1e/666a1ebc1543ac5d987797450732f923.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/564x/66/6a/1e/666a1ebc1543ac5d987797450732f923.jpg"/>
												</a>
											</div>

										</div>
										<div class="col-md-4 demoBox">
											<div class="figure-item">
												<a class="figure-img glitch-hover" href="">
													<img class="img-fluid" src="https://i.pinimg.com/736x/5b/95/6c/5b956ce746a50d9a2cf2aa5aaff8bded.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/736x/5b/95/6c/5b956ce746a50d9a2cf2aa5aaff8bded.jpg"/>
													<img class="img-fluid portHid" src="https://i.pinimg.com/736x/5b/95/6c/5b956ce746a50d9a2cf2aa5aaff8bded.jpg"/>
												</a>
											</div>

										</div>
									</div>
								</div>

							</div>
							<button type="button" class="btn text-center mt-auto mb-3 btn-light">
								<p class="card-text">See More
								</p>
							</button>


						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

	</div>
</div>
<div class="container bestSeller">
	<div class="row">


		<div class="items bg-Ardoise pt-3 pb-5 ">
			<a href="#" class="link link1">What's new ?
			</a>
		</div>

	</div>

	<div class="row bg-Ardoise">

		<div class="col-lg-3 mb-5 col-md-6">
			<div class="card">
				<div class="parentRelatif cardImgSeller ">
					<a href="http://">
						<img src="https://img.ltwebstatic.com/images3_pi/2022/10/18/1666062772a8652467ad2ebfa7fd41879694c2ac3b_thumbnail_600x.webp" class="card-img-top" alt="..."></a>
					<button type="button" class="card-text LargeFont">Add to cauldron</button>
				</div>
				<div class="card-body">
					<div class="font-serif">
						Academia Dark Academia Robe en tartan à bouton
					</div>
					<div>
						57.99€
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 mb-5 col-md-6">
			<div class="card">
				<div class="parentRelatif cardImgSeller">
					<a href="http://">
						<img src="https://cdn.shopify.com/s/files/1/0539/0722/6789/products/Elemental-Cats-Air-Plush-Toy-G_500x.jpg?v=1677587307" class="card-img-top" alt="..."></a>
					<button type="button" class="card-text LargeFont">Add to cauldron</button>
				</div>
				<div class="card-body">
					<div class="font-serif">
						Element Cats: Air Plush Toy
					</div>
					<div>
						39,95€
					</div>
				</div>
			</div>

		</div>

		<div class="col-lg-3 mb-5 col-md-6">
			<div class="card ">
				<div class="parentRelatif cardImgSeller">
					<a href="http://">
						<img src="https://cdn.shopify.com/s/files/1/0083/1530/6048/products/BLP04CMRX.jpg?v=1620472700&width=1680" class="card-img-top" alt="..."></a>
					<button type="button" class="card-text LargeFont">Add to cauldron</button>
				</div>
				<div class="card-body">
					<div class="font-serif">
						B.L.P-04/Pant
					</div>
					<div>
						160,00€
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3  mb-5 col-md-6">
			<div class="card ">
				<div class="parentRelatif cardImgSeller">
					<a href="http://">
						<img src="https://cdn.shopify.com/s/files/1/0539/0722/6789/products/PANIC-PLATFORM-SHOE-W-B_500x.jpg?v=1677236048 " class="card-img-top" alt="..."></a>
					<button type="button" class="card-text LargeFont">Add to cauldron</button>
				</div>
				<div class="card-body">
					<div class="font-serif">
						Panic Plateform shoes
					</div>
					<div>
						129,95€
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3  mb-5 col-md-6">
			<div class="card ">
				<div class="parentRelatif cardImgSeller">
					<a href="http://">
						<img src="https://cdn.shopify.com/s/files/1/0083/1530/6048/products/BANNERHGB05YLW.jpg?v=1664952433&width=1680" class="card-img-top" alt="..."></a>
					<button type="button" class="card-text LargeFont">Add to cauldron</button>
				</div>
				<div class="my-auto  card-body">
					<div class=" my-auto  font-serif">
						H-G-b-05/Yellow Oversized Hoodie
					</div>
					<div>
						204,00€
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 mb-5 col-md-6">
			<div class="card ">
				<div class="parentRelatif cardImgSeller">
					<a href="http://">
						<img src="https://cdn.shopify.com/s/files/1/0539/0722/6789/products/OnALeashHarness-G_18546264-8ffe-4fee-b156-5f686e51127d_385x578_crop_center.jpg?v=1670842544" class="card-img-top" alt="..."></a>
					<button type="button" class="card-text LargeFont">Add to cauldron</button>
				</div>
				<div class=" my-auto card-body">
					<div class="font-serif">
						On a Leash Harness
					</div>
					<div>
						39,95€
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<div class="container bg-Ardoise currentObsession">
	<div class="row">
		<div class="items bg-Ardoise pt-3 pb-5 ">
			<a href="#" class="link link2">Current Ossession
			</a>
		</div>
	</div>
	<div class="row ">
		<div class="relativBox">
			<div class="dollPosition">
				<img class="img-fluid doll" src="https://zupimages.net/up/23/13/jeus.png" alt="">
			</div>

		</div>

		<div class="col-12">

			<div class="row currentObsBck mb--1 "> <a href="" class="col-12 txt-darkBrown font-serif font-typescript">⇒ Shop this doll's outfit ❤️‍🔥 🐙 🌶 </a>  </div>
			<div class="row currentObsBck mb--1 ">
				<div class="col-lg-4 col-md-12 demoDollBox">
					<img class="img-fluid demoDoll" src="https://i.pinimg.com/originals/3a/e9/dd/3ae9dd9547ef4261e20ab5008b27dda8.gif" alt="">
				</div>

				<div class="col-lg-4 col-md-6 demoDollBox">
					<img class="img-fluid demoDoll" src="https://i.pinimg.com/originals/e3/3a/11/e33a116503032bf15413ddc19a8e5cf3.gif" alt="">
				</div>

				<div class="col-lg-4 col-md-6 demoDollBox">
					<img class="img-fluid demoDoll" src="https://i.pinimg.com/originals/81/04/89/810489cdda8b3e2740a4bb4821a56bb5.gif" alt="">
				</div>
			</div>



			<div class="row currentObsBck"><span href="" class="col-12 txt-darkBrown font-serif font-typescript"> Get your alien self into the street  </span>  </div>

		</div>

	</div>
</div>

<div class="container newsletter">
	<div class="row ">
		<form action="" method="post">
			<label class="form-label font-handwritten" for="contact">
				Don't be a stranger
			</label>
			<input type="email" class="form-control" name="contact" id="">
			<div id="emailHelp" class="text-end text-light form-text">sign up to our newsletter</div>
		</form>
	</div>
</div>

<div class="container ">

	<div class="row ">

		<div class="container demoStyle  pt-3 bg-dark text-light">
			<span class="font-serif ">Join us in<span class="LargeFont" style="font-size : 32px">
					the Electrical</span>
				<span class="font-handwritten">
					Black Sabbath</span>
			</span>
			<div class="row"><img class="img-fluid" src="https://i.pinimg.com/564x/f1/7d/28/f17d28da2129205da9b23870fcf7ed67.jpg" alt=""></div>

			<button class="px-app px-glitch">
				<span class="px-glitchtext px-glitchtext-anim">Glitch</span>
			</button>


		</div>
	</div>
</div>

{% include "_partials/_footer.html.twig" %}
{% endblock %}
